<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DA376E Lab 1</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <main>
        <h1>DA376E Lab 1</h1>
        <p>Example application</p>
        <a href="/game">Arcade Snake game</a><br><br>
        <a href="/allansson">The lab author's name page</a>
    </main>
</body>
</html>